.container {
  display: flex;
  padding: 15px 20px;

  li {
    list-style-type: none;
    text-decoration: none;
  }

  .catalog_left{
    flex: 0.5;
    padding-right: 20px;
  }

  .catalog_left, .filter_categories {
    display: flex;
    flex-direction: column;
  }
  .catalog_right{
    flex: 2.5;
  }
}